body {
    font-family: Helvetica, Arial, sans-serif;
}

.wrapper {
    padding: 15px;
    display: flex;
}

.sidebar {
    width: 20%;
    flex: 1;
    padding: 15px;
}

.content {
    width: 80%;
    flex: 1;
    flex-grow: 4;
    padding: 15px;
}